.env
/venv
/node_modules
/uploads
/redis
/frontend/node_modules
/frontend/build
/backend/uploads
/backend/__pycache__
/backend/venv
.__pycache__
.pytest_cache
/backend/pytest_cache
/backend/tests
/backend/routes/__pycache__
/backend/services/__pycache__
.env.example
.env.local
.env
backend/.env
frontend/.env
backend/.env.example
frontend/.env.example
backend/.env.local
frontend/.env.local
/backend/routes/__pycache__
/backend/services/__pycache__
/projekt-471007-e99c64ddf4c6.json
